<div class='flex_vertical align_center profile_wrapper'>
  {{{avatar}}}
  {{#if title}}
  {{> label txt=title block='list' modifiers='list'}}
  {{/if}}
  {{#unless edit}}
  {{{list}}}
  {{{buttons}}}
  {{/unless}}
  {{#if edit}}
  {{{content}}}
  {{{button}}}
  {{/if}}
</div>
